:root {
    --red: #d61a2a;
    --green: #1e7c4f;
    --card-bg: rgba(255, 255, 255, 0.85);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: var(--red);
    color: white;
    text-align: center;
    padding: 1rem;
}


.hero {
    position: relative;
    height: fit-content;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    
 }

.data {
    position: absolute;
    top: 40px;
    left: 40px;
    background: var(--card-bg);
    padding: 20px;
    width: 260px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.data h2 {
    background: var(--green);
    color: white;
    padding: 10px;
    margin: -20px -20px 10px -20px;
}


.weather {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background: var(--card-bg);
    padding: 20px;
    width: 240px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.weather h2 {
    background: var(--green);
    color: white;
    padding: 10px;
    margin: -20px -20px 10px -20px;
}


.weather-icon {
    width: 40px;
}


footer {
    background: var(--red);
    color: white;
    text-align: center;
    padding: 1rem;
}


@media (min-width:1000px) {

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }

}